<header class="fixed-top">
    <nav class="container header-nav">
        <div class="brand">
            <a href="/">TDOE</a>
        </div>
        <div class="navlist">
            <ul>
                <li {% if page.url == "/" %}class="active"{% endif %}>
                    <a href="/">首页</a>
                </li>
                <li {% if page.url == "/" %}class="active"{% endif %}>
                    <a href="/">列表</a>
                </li>
            </ul>
        </div>
    </nav>
</header>