/* html body */
html {
    font-size: $base-font-size;
    position: relative;
    min-height: 100%;
}

body {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: 1.5rem;
    padding-top: 100px;
    background-color: $bg-color;
    color: $font-color;
    margin-bottom: 313px;
}

h1,
h2,
h3,
h4 {
    color: #231815;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-space;
    // font-weight: $font-weight;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    li {
        line-height: $line-height;
        font-size: $font-size;
        color: $font-color;
    }
    img {
        width: 100%;
        // padding: 1px;
    }
}