.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-nav {
    display: block;
    height: 60px;
    background-color: #dedede;
    .brand {
        float: left;
        display: block;
        font-size: 1.8rem;
        padding: 16px 20px;
    }
    .navlist {
        float: left;
        margin-left: 100px;
        ul {
            list-style: none;
            float: left;
            >li {
                padding: 12px 8px;
                float: left;
                display: block;
            }
        }
    }
}